@font-face {
	font-family: agency;
	src: url('/fonts/AGENCYR.TTF');
}

@font-face {
	font-family: agency-bold;
	src: url('/fonts/AGENCYB.TTF');
}

:root {
	--black: #000000;
	--white: #ffffff;
	--purple: #612a72;
	--green: #bbcf23;
	--yellow: #ece52d;
	--blue: #33658a;
	--text-color: var(--white);
	--body-bg: var(--black);
	--header-bg: transparent;
	--gradient: linear-gradient(0deg, var(--green) 0%, var(--purple) 100%);
	--title-color: var(--white);
	--border-color: var(--purple);
	--menu-background: var(--yellow);
}

body {
	font-family: agency, sans-serif;
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
	background-color: var(--body-bg);
	color: var(--text-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

h1 {
	color: var(--title-color);
	font-family: agency-bold, sans-serif;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

h2 {
	color: var(--title-color);
	font-family: agency-bold, sans-serif;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
