:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #612a72;
  --green: #bbcf23;
  --yellow: #fecc00;
  --dark-red: #4c0e0d;
  --darker-red: #180405;
  --blue: #33658a;
  --text-color: var(--white);
  --body-bg: var(--darker-red);
  --header-bg: transparent;
  --gradient: linear-gradient(0deg, var(--green) 0%, var(--purple) 100%);
  --title-color: var(--yellow);
  --border-color: var(--purple);
  --menu-background: var(--dark-red);
}

body {
  font-family: 'Saira', sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  min-height: 100vh;
  display: grid;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

h1 {
  color: var(--title-color);
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 2em;
  margin: 0;
  padding-top: 1em;
}

h2 {
  color: var(--title-color);
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  padding-top: 1em;
}

h3 {
  color: var(--title-color);
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin: 0;
  padding-top: 0.5em;
}

p {
  margin: 0.5em 0;
}

article {
  max-width: 60vw;
  margin: 0 auto;
}

article img {
  justify-self: center;
  width: 50vw;
  border: solid 1px var(--purple);
}

article .imagebox {
  width: 100%;
  display: grid;
  align-content: center;
}

.main {
  height: var(--doc-height);
  display: grid;
  grid-template-rows: 123px auto;
  grid-template-columns: auto;
  grid-template-areas: 'header' 'content';
  background: var(--body-bg);
}

.content {
  min-height: var(--content-height);
  grid-area: content;
  display: grid;
  justify-items: center;
  align-items: start;
  overflow: auto;
}

img.kommun {
  height: 50px;
}

@media (max-width: 888px) {
  .main {
    grid-template-rows: 140px auto;
  }
  .footer {
    height: 60px;
  }

  .footer-content {
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-content img {
    height: 20px;
  }

  .kommun {
    height: 30px;
  }

  article {
    max-width: 90vw;
  }

  article img {
    width: 80vw;
    margin-bottom: 10px;
  }
}
