:root {
	--text-color: #ffffff;
	--body-bg: rgba(0, 12, 31, 1);
	--gradient: linear-gradient(0deg, rgb(0, 12, 31) 0%, rgb(2, 45, 109) 100%);
	--header-bg: transparent;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--body-bg);
	color: var(--text-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

h1 {
	color: var(--title-color);
	font-size: 2em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

h2 {
	color: var(--title-color);
	font-size: 1.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
